.root {
  display: flex;
  flex-direction: column;

  & > div:last-of-type {
    margin-top: 1rem;
  }

  /* input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  } */
}
