.body {
  display: grid;
  grid-template-columns: 1fr 4fr;
  height: 100vh;
  background: #1A1B1E;
  margin: 0;
  color: white;
}

.aside {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem 1.5rem;
  border-right: 1px solid #2d3748;
}

.main {
  display: flex;
  align-items: center;
  justify-content: center;
}

.heading {
  margin: 0;
  font-size: 1.3rem;
}

.button {
  width: 100%;
  height: 2.5rem;
  border-radius: 0.4rem;
  border: none;
  font-size: 0.85rem;
  font-weight: 600;

  &:disabled {
    background-color: #373A40;
    color: #25262b;
  }

  &:not(:disabled) {
    cursor: pointer;
    background-color: #1971c2;
    color: white;

    &:not(:active):hover {
      background-color: #1864ab;
    }

    &:active {
      transform: translateY(1px);
    }
  }
}
